/*清除无名杀默认样式*/
.PSdiv {
  display: block;
  position: unset;
  transition: unset;
}

@font-face {
  font-family: 'wenq.ttf';
  src: url("../font/wenq.ttf");
}

/*交流群样式*/
.PSjiaqun {
  display: grid;
  width: 248px;
  margin: 0 auto;
  grid-template-rows: 0fr;
  transition: grid-template-rows .8s ease-in-out;
}

.PSjiaqun .PSjiaqun-content {
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid gray;
}

/*启动页美化选项样式*/
.PSselect-item {
  width: 288px;
  height: 162px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid gray;
  padding-top: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*点我加群，已弃用*/
.PSjoinUs {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 15px;
  border: 1.5px solid #fff;
  border-radius: 100px;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 600%;
  animation: ff 13s linear infinite;
}

.PSjoinUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 600%;
  border-radius: 100px;
  z-index: -1;
  filter: blur(20px);
}

@keyframes ff {
  from {
    background-position: 0;
  }

  to {
    background-position: 600%;
  }
}

/*唱片和唱针样式*/
.PSmusic-container {
  position: relative;
  width: 138px;
  height: 138px;
  vertical-align: text-top;
  margin-left: -20px;
}

.PSmusic-container .PSneedle {
  position: absolute;
  width: 251px;
  height: 409px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.16);
  margin-top: -80px;
  z-index: 3;
}

.PSmusic-container .PSrecord-box {
  position: absolute;
  width: 138px;
  height: 138px;
  animation: rot 15s linear infinite;
  transform-origin: center center;
  /*   transform: scale(0.5);
  transform-origin: left top; */
}

.PSmusic-container .PSrecord-box .PSrecord {
  position: absolute;
  width: 206px;
  height: 206px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.67);
  /* background: url(./coverall.png) no-repeat -140px -580px; */
  z-index: 2;
}

.PSmusic-container .PSrecord-box .PSrecord-img {
  position: absolute;
  width: 137px;
  height: 137px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.67);
  /* background: url(./1.jpg) no-repeat 0 0/cover; */
  z-index: 1;
}

@keyframes rot {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* AI禁将 */
/* 禁将容器 */
#PSforbidai-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 3vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 20vh),
    url(../image/other/bg.jpg) no-repeat left center/cover;
  color: #fff;
  text-align: center;
  font-family: 'wenq.ttf';
}

/* 头部区域 */
#PSforbidai-container .PSheader {
  /* position: relative; */
  display: flex;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  /* box-sizing: border-box; */
}

#PSforbidai-container .PSheader .PShelp {
  align-self: flex-start;
  width: 3.5vh;
  height: 3.5vh;
  background: url(../image/other/help.png) no-repeat center center/contain;

}

#PSforbidai-container .PSheader .PSpack {
  display: flex;
  width: 48vh;
  justify-content: space-between;
  align-items: center;
}

#PSforbidai-container .PSheader .PSsetUp {
  width: 8vh;
  height: 6vh;
  background: url(../image/other/setting_btn1.png) no-repeat center center/contain;

}

#PSforbidai-container .PSheader .PSselectAll {
  width: 8vh;
  height: 5vh;
  line-height: 5vh;
  border-radius: 1vh;
  font-size: 2.5vh;
  background-image: radial-gradient(3vh at 3vh 2vh,
      rgba(255, 255, 255, 0.2),
      transparent);
  background-color: #ffc700;

}

#PSforbidai-container .PSheader .PSselectAll.active {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 255, 0, 0.4) 0 0 5px, rgba(255, 255, 0, 0.4) 0 0 12px, rgba(255, 255, 0, 0.8) 0 0 15px !important;
}

/* 头部-分类方式切换 */
#PSforbidai-container .PSheader .PSselect {
  /* position: absolute; */
  /* z-index: 1; */
  /* top: 50%; */
  /* left: 0; */
  /* transform: translateY(-50%); */
  font-size: 2.5vh;
  box-sizing: border-box;
  width: 25.2vh;
  height: 5vh;
  line-height: 5vh;
  font-size: 2vh;
  background: url(../image/other/setting.png) no-repeat center center/contain;
}

#PSforbidai-container .PSheader .PSselect img {
  width: 2vh;
  vertical-align: middle;
  transition: all .3s linear;
  transform-origin: 50% 33.33%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%); */
}

#PSforbidai-container .PSheader .PSselect .PSselect-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .3s linear;
}

#PSforbidai-container .PSheader .PSselect .PSselect-content>div {
  overflow: hidden;
  z-index: 21;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .5vh;
}

#PSforbidai-container .PSheader .PSselect .PSselect-content>div>span {
  display: block;
  background: url(../image/other/hotlist.png) no-repeat center center/contain;
}

#PSforbidai-container .PSheader .PSselect:hover .PSselect-content {
  grid-template-rows: 1fr;
}

#PSforbidai-container .PSheader .PSselect:hover img {
  transform: rotate(-180deg);
}

/* 头部-搜索框 */
#PSforbidai-container .PSheader .PSsearch {
  display: flex;
  justify-content: space-between;
  width: 30.5vh;
  height: 5vh;
  box-sizing: border-box;
  /* border: .3vh solid rgba(255, 132, 0); */
  border-radius: 0.8vh;
  padding: 0 0.5vh;
  color: #333;
  background-color: #e0e5e7;
}

/*文本输入框*/
#PSforbidai-container .PSheader .PSsearch .PSinput {
  line-height: 4vh;
  width: 25vh;
  height: 4vh;
  align-self: center;
  border: none;
  padding-left: 1vh;
  border-radius: 0.8vh;
  outline: none;
  font-size: 2.1vh;
  background-color: transparent;
}

/*文本输入框搜索按钮*/
#PSforbidai-container .PSheader .PSsearch .PSbutton {
  /* border-radius: 50%; */
  align-self: center;
  width: 3vh;
  height: 3vh;
  border-radius: 0.8vh;
  background: url(../image/other/icon-search.png) no-repeat center center/70%;
}

#PSforbidai-container .PSheader .PSsearch .PSinput:focus,
#PSforbidai-container .PSheader .PSsearch .PSbutton:hover {
  background-color: #e3e5e7;
}

#PSforbidai-container .PSheader .PSsearch:hover {
  background-color: #fff;
}

/*搜索数量提示*/
#PSforbidai-container .PSheader .PSloginfo {
  width: 24.3vh;
  height: 4vh;
  line-height: 4vh;
  font-size: 2vh;
  background: url(../image/other/loginfo.png) no-repeat right top/cover;
}

/* 头部-关闭按钮 */
#PSforbidai-container .PSheader .PSclose {
  /* position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); */
  width: 8vh;
  height: 8vh;
  background: url(../image/other/pub_back_button.png) no-repeat right top/cover;
}

/* 武将包列表区域 */
#PSforbidai-container .PSlist {
  display: flex;
  height: 10vh;
  width: 100%;
  /* background-color: chartreuse; */
}

/* 武将包列表-左右按钮 */
#PSforbidai-container .PSlist .PSleft,
#PSforbidai-container .PSlist .PSright {
  width: 10vh;
  height: 10vh;
  background: url(../image/other/icon-down.png) no-repeat 0 0/cover;
  transform: rotate(90deg) scale(0.8);
}

#PSforbidai-container .PSlist .PSright {
  background: url(../image/other/icon-down.png) no-repeat 0 0/cover;
  transform: rotate(-90deg) scale(0.8);
}

/* 武将包列表-武将包按钮 */
#PSforbidai-container .PSlist ul {
  height: 10vh;
  width: calc(100% - 10vh);
  display: flex;
  flex: 1;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

#PSforbidai-container .PSlist ul li {
  flex-shrink: 0;
  min-width: 13.5vh;
  /* min-height: auto; */
  height: 6.75vh;
  line-height: 6.75vh;
  padding: 0 1vh;
  box-sizing: border-box;
  border-radius: 1.1vh;
  margin-right: 2vh;
  background: url(../image/other/pack.png) no-repeat center center/contain;
  transition: all .1s linear;
}

#PSforbidai-container .PSlist ul li.active {
  background: url(../image/other/packAtive.png) no-repeat center center/contain;
  transform: scale(1.05);
}

/* 内容区域 */
#PSforbidai-container .PScontent {
  width: 100%;
  height: calc(100% - 18vh);
  display: flex;
}

/*内容-左侧武将包分类区域 */
#PSforbidai-container .PScontent .PScharacterSort {
  width: 20vh;
  height: 100%;
  /* background-color: coral; */
}

/*内容-武将包分类按钮*/
#PSforbidai-container .PScontent .PScharacterSort ol {
  height: calc(100% - 20vh);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#PSforbidai-container .PScontent .PScharacterSort ol li {
  /* width: 100%; */
  height: 9.5vh;
  line-height: 9.5vh;
  background: url(../image/other/modebtn.png) no-repeat center center/contain;
  border-radius: 1.2vh;
  transform: scale(0.8);
  transition: all .1s linear;
}

#PSforbidai-container .PScontent .PScharacterSort ol li.active {
  /* width: 100%; */
  transform: scale(0.84);
  background: url(../image/other/modebtn2.png) no-repeat center center/contain;
}

/* 内容-结果区域 */
#PSforbidai-container .PScontent .PScharacterSort .PSresult {
  width: 20vh;
  height: 20vh;
  /* background-color: pink; */
}

/* 内容-结果区域-禁将列表按钮 */
#PSforbidai-container .PScontent .PSresult .PSforbiden,
#PSforbidai-container .PScontent .PSresult .PSconfirm {
  width: 20vh;
  height: 10vh;
  line-height: 10vh;
  box-sizing: border-box;
  border-radius: 1vh;
  transform: scale(0.8);
  background-image: radial-gradient(3vh at 6vh 5vh,
      rgba(255, 255, 255, 0.2),
      transparent);
  transition: all.1s linear;
  background-color: #e94242;
}

#PSforbidai-container .PScontent .PSresult .PSforbiden.active {
  /* width: 100%; */
  transform: scale(0.84);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(255, 0, 0, 0.4) 0 0 5px, rgba(255, 0, 0, 0.4) 0 0 12px, rgba(255, 0, 0, 0.8) 0 0 15px !important;
}

/* 内容-结果区域-确定按钮 */
#PSforbidai-container .PScontent .PSresult .PSconfirm {
  background-color: #80c342;
}


/* 内容-右侧武将区域*/
#PSforbidai-container .PScontent .PScharacterList {
  flex: 1;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: calc(100% - 1vh);
  overflow-y: auto;
  /* padding: 0vh 1vh 0vh 0vh; */

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.8vh, 10.8vh));
  justify-content: center;
  align-content: flex-start;
  gap: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 2.3vh; */
}

#PSforbidai-container .PScontent .PScharacterList>.content-container {
  width: 100% !important;
  margin: 0;
}

#PSforbidai-container .PScontent .PScharacterList>.content-container>.content {
  width: 100%;
  height: 100%;
}

#PSforbidai-container .PScontent .PScharacterList>.content-container>.content::-webkit-scrollbar {
  display: block !important;
  width: 2vh;
}

#PSforbidai-container .PScontent .PScharacterList>.content-container>.content::-webkit-scrollbar-thumb {
  height: 1vh;
  background: #ccc;
  border-radius: 1vh;
}

#PSforbidai-container .PScontent .PScharacterList>.content-container>.content::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 168, 168);
}

#PSforbidai-container .PScontent .PScharacterList>.content-container>.content::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}

#PSforbidai-container .PScontent .PScharacterList>.content-container>.content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

#PSforbidai-container .PScontent .PScharacterList .PSitem {
  /* width: 10.8vh;
  height: 14.4vh;
  border-radius: 1vh;
  margin: 0; */

  /* z-index: 20; */
  /* position: relative; */
  /* transition: all .3s linear; */
  /* background: url(../image/other/default_character.png) center top/cover; */
}

#PSforbidai-container .PScontent .PScharacterList .PSitem .hp>div {
  /* width: 1.5vh;
  height: 1.5vh; */
}

/* 内容-右侧武将区域-武将小红点提示 */
#PSforbidai-container .PScontent .PScharacterList .PSitem .PStip {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(1vh, -0.3vh);
  background: url(../image/other/tip.png) center center/cover;
  width: 2vh;
  height: 2vh;
  z-index: 21;
}

/*帮助/设置弹窗*/
#PSforbidai-container #popupContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

/* 弹窗-内容 */
#PSforbidai-container #popupContainer>div {
  position: absolute;
  width: 60vh;
  height: 50vh;
  padding: 6vh 1vh 0;
  background: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  border: 0.3vh solid #ccc;
  border-radius: 1.5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*弹窗文本区域*/
#PSforbidai-container #popupContainer>div>div {
  width: 100%;
  height: 100%;
  font-size: 2.5vh;
  text-align: start;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*弹窗关闭按钮*/
#PSforbidai-container #popupContainer>div>span {
  display: block;
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-image: linear-gradient(45deg, transparent 48%, red 48% 52%, transparent 52% 100%),
    linear-gradient(-45deg, transparent 48%, red 48% 52%, transparent 52% 100%);
  top: 0;
  right: 0;
  border-radius: 2.5vh;
}

/*弹窗标题*/
#PSforbidai-container #popupContainer>div>h2 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*清除弹窗文本默认样式*/
#PSforbidai-container #popupContainer div * {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
}

/*设置弹窗的文本区域布局*/
#PSforbidai-container #popupContainer>div>div>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all.1s linear;

}

/*设置弹窗的按钮样式*/
#PSforbidai-container #popupContainer>div>div>div>span {
  display: block;
  background: url(../image/other/button-off.png) no-repeat center center/contain;
  width: 10vh;
  height: 3.6vh;
  transform: scale(0.8);
  transform-origin: right center;
}

#PSforbidai-container #popupContainer>div>div>div.PShidden {
  opacity: 0 !important;
  pointer-events: none;
  margin-top: -4.5vh;
}

#PSforbidai-container #popupContainer>div>div>div>span.active {
  background: url(../image/other/button-on.png) no-repeat center center/contain;
}

#PSforbidai-container #popupContainer h4 {
  text-indent: 2em;
}

/*滚动隐藏*/
#PSforbidai-container .PSlist ul::-webkit-scrollbar,
#PSforbidai-container .PScharacterSort ol::-webkit-scrollbar,
#PSforbidai-container .PScontent .PScharacterList::-webkit-scrollbar,
#PSforbidai-container #popupContainer>div::-webkit-scrollbar {
  display: none;
}

#PSforbidai-container .PShelp,
#PSforbidai-container .PSselectAll,
#PSforbidai-container .PSselect,
#PSforbidai-container .PSsetUp,
#PSforbidai-container .PSbutton,
#PSforbidai-container .PSclose,
#PSforbidai-container .PSleft,
#PSforbidai-container .PSright,
#PSforbidai-container .PSforbiden,
#PSforbidai-container .PSconfirm,
#PSforbidai-container li,
#PSforbidai-container .PSitem,
#PSforbidai-container span {
  cursor: url(../image/other/1.ico), auto;
}